extends ./layout.jade

block vars
  - var title = 'Home'

block content

  if user
    div#background
      img(src='http://i.imgur.com/q5QcuN7.jpg' class='stretch')
      h1(class='title') Welcome to Stormpath's Technical Blog, #{user.givenName}!
  else
    div#background
      img(src='http://i.imgur.com/q5QcuN7.jpg' class='stretch')
      h1(class='title') Welcome to Stormpath's Technical Blog!
    
  .home-panel-spacing

  if blogPosts != '{}'
  
    h3(class='title') View All Blog Posts
      hr
      
    - var posts = JSON.parse(blogPosts)
    each post in posts
      .panel
       .panel-heading
          .text-center
            .row
              .col-sm-9
                h3.pull-left #{post.title} | #{post.author}
              .col-sm-3.date
                h4.pull-left
                  small
                    em
                      | #{post.date}
        .panel-body.blog-content
          | #{post.content}
        .panel-footer
          - for (var i=0; i<post.tags.length; i++)
            span.label.label-default #{post.tags[i]}
  else
    h3(class='err') Sorry, there's no blog posts to show. Please check back later.
            
  .spacing
  
