extends ./layout.jade

block vars
  - var title = 'Login'
  - var description = 'Log into your account!'
  - var bodytag = 'login'
  - var socialProviders = stormpathConfig.web.social
  - var registerFields = stormpathConfig.web.register.form.fields

block content

  .spacing
  
  h2(class='title') Login or 
    a(href='#{stormpathConfig.web.register.uri}') Create Account
    hr
  
  .spacing
  
  if error
    .alert.alert-danger.bad-login(class='center')
      p #{error}
      
  if formErrors
   .alert.alert-danger.bad-login(class='center')
      each error in formErrors
        p #{error.error}
        
  .spacing 
  
  .container
    .row
      .col-xs-12.col-sm-12.col-md-8.col-lg-8
        form.login-form.form-horizontal(method='post', role='form', action=formActionUri)
          input(name='_csrf', type='hidden', value=csrfToken)
          .form-group
            label(class='#{cls}') Username or Email
            .col-lg-12
              input.form-control(autofocus='true', required=true, name='login', type='text', value=value)
          .form-group
            label(class='#{cls}') Password
            .col-lg-12
              input.form-control(required=true, type='password', name='password')
          .form-group
            .col-lg-12(class='text-right')
              button.btn.btn-default(type='reset', name='reset') Cancel
              button.btn.btn-primary(type='submit', name='submit') Login
            .col-lg-12(class='text-right')
              if stormpathConfig.web.forgotPassword.enabled
                .half-spacing
                a.forgot(style="float:left", href="#{stormpathConfig.web.forgotPassword.uri}") Forgot Password?
      .col-xs-12.col-sm-12.col-md-4.col-lg-4.stuff
        label Easy 1-click login
        .spacing
          if socialProviders.facebook && socialProviders.facebook.enabled
            include facebookLogin.jade
          .spacing
          if socialProviders.google && socialProviders.google.enabled
            include googleLogin.jade
    
  .spacing
