extends ./layout.jade

block vars
  - var title = 'Profile'

block content

  script(src="/static/js/blogActions.js" type='text/javascript')

  - var name = user.fullName || user.username
  
  .spacing
  
  h2(class='title') Let's get blogging, #{name}!
    hr
  .spacing
  
  form.post-form.form-horizontal(method='post' action='/bloggers/'+user.username+'/profile')
    .form-group
      label.col-lg-2.control-label(for='Title') Title
      .col-lg-10
        input#title.form-control(type='text', name='title', required=true)
    - if (admin)
      .form-group
        label.col-lg-2.control-label(for='author') Author's Username
        .col-lg-10
          input#author.form-control(type='text', name='author')
    .form-group
      label.col-lg-2.control-label(for='content') Content
      .col-lg-10
        textarea#content.form-control(type='text', rows='5', name='content', required=true)
    .form-group
      label.col-lg-2.control-label(for='tags') Tags
      .col-lg-10
        input#tags.form-control(type='text', required=true, data-role='tagsinput', <='', body='', name='tags')
    .form-group
      .col-lg-10.col-lg-offset-2
        button.btn.btn-default(type='reset', name='reset') Cancel
        button.btn.btn-primary(type='submit', name='submit') Post
        
  .spacing
     
  if !blogPosts || blogPosts.length === 0
    h2(class='err2') Looks like you don't have any posts! Create one above :)
    .spacing
  else
    h2(class='title') My Posts
      hr
      
    .spacing
    
    table.table.table-striped.table-hover#table
      thead
        tr
          th 
            i.fa.fa-minus-square(class='icon')
          th Title
          th Date
      tbody
        each post, index in blogPosts
          tr
            td 
              input(type="checkbox", name="agree" onClick="deletePost('#{user.username}', #{index})")
            td 
              a(href='/bloggers/#{user.username}/#{index}') #{post.title}
            td #{post.date}
            
  .spacing
  
  h2(class='title') Delete Account
    hr
    
  .row(class='center-me')
  
    h4 Warning! Only click the button below if you're absolutely sure you want to delete your account. This action CANNOT be undone. 
    
    .spacing 
    
    a(class='btn btn-default', href='/bloggers/#{user.username}/delete/account')
      h4 Delete Account

  .spacing
