extends ./layout.jade

block vars
  - var title = 'Posts'

block content

  .spacing
  
  if username
    h3(class='title') All Blog Posts by 
      a(href='/bloggers/'+username) #{username}
      hr
    
  if blogPosts && blogPosts.length > 0
    each post, index in blogPosts
      .panel
        .panel-heading
          .text-center
            .row
              .col-sm-9
                a(href='/bloggers/'+username+'/'+index)
                  h3.pull-left #{post.title}
              .col-sm-3.date
                h4.pull-left
                  small
                    em
                      | #{post.date}
        .panel-body.content
          | #{post.content}
        .panel-footer
          - for (var i=0; i<post.tags.length; i++)
            span.label.label-default #{post.tags[i]}
