extends ./layout.jade

block vars
  - var title = 'Posts'

block content

  .spacing
  
  if username
    h3(class='title') All Blog Posts by 
      a(href='/bloggers/'+username) #{username}
      hr
    
  if blogPosts 
    - var posts = JSON.parse(blogPosts)
    each post in posts
      .panel
        .panel-heading
          .text-center
            .row
              .col-sm-9
                h3.pull-left #{post.title}
              .col-sm-3.date
                h4.pull-left
                  small
                    em
                      | #{post.date}
        .panel-body.content
          | #{post.content}
        .panel-footer
          - for (var i=0; i<post.tags.length; i++)
            span.label.label-default #{post.tags[i]}
  else
    h2 Looks like #{username} hasn't created any posts yet...
